# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

*.pdb
*.ilk
*_d.exe

temp
x64
lib/SDL_Engine

/SDL/SDL2-2.0.3/*.txt
/SDL/SDL2_image-2.0.0/*.txt

*.csproj.user
*.vcxproj.user
*.user
*.generated.cs
*.ncb
*.sdf
*.opensdf
*.log
*.tlog
*.lastbuildstate
*.manifest
*.unsuccessfulbuild
*.rc
*.cache
*.idb
*.suo
/SDL/SDL2_image-2.0.0/lib/x86/*.txt
